<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fake Pinterest</title>
  </head>
  {% block body %}
  <body>
    <h1>Fake Pinterest</h1>

    <h2>Agora vamos continuar</h2>

    {% block formulario %}
    <form method="POST">
      {{form.csrf_token}} 
      {{ form.email.label() }} 
      {{ form.email() }} 
      {{ form.senha.label() }} 
      {{ form.senha() }} 
      {{form.botao_confirmacao()}}

    <p>
      Ainda não tem conta?
      <a href="{{ url_for('criar_conta') }}">Cadastre-se</a>
    </p>
    </form>
    {% endblock %}

  </body>
  {% endblock %}
</html>
