<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
  </head>
  <body>
    <h1>Perfil do Usuário: {{ usuario.username }}</h1>

    {% if form %}
    <form method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }} 
      {{ form.foto() }} 
      {{ form.botao_confirmacao() }} 
    </form>
    {% endif %} 

{% for foto in usuario.fotos %}
    <div>
      <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}" />
    </div>
{% endfor %}

    <div>      
      <a href="{{ url_for('logout') }}">Sair</a>
    </div>
  </body>
</html>
